/*  your css code here. If applicable */
.container{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center
}
.container div{
	border-top-width: 2px;
	border : 2px solid black;
	background-color:lightblue;
	width:100px;
	height:100px;
	color:purple;
}
.item{
	display:flex;
	justify-content:center;
	align-items:center;
}